@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(49, 48, 48);
}
header{
    font-family: 'Chelsea Market', cursive;
    width: 100%;
    height: 50px;
    background-color:  rgb(20, 19, 19);
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.contenedor{
    width: 98%;
    margin: auto;

}
h1{
    float: left;
}
header .contenedor{
    display: table;
}

section{
    width: 100%;
    margin-bottom: 25px;

}

#cajitas h1{
    font-family: 'Chelsea Market', cursive;
    color: white;
    padding-top: 50px;
}
#cajitas p {
    color: white;
    padding: 20px;
}

#cajitas h2{
    text-align: center;
    width: 300px;
    color: white;
    font-size: 15px;
}
#cajitas .contenedor {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
#cajitas article {
    margin: 5px;
}
#cajitas img {
    margin: 10px 35px;
    justify-content: center;
    width: 100%;
    max-width: 200px;
}


#cajitas2 p {
    color: white;
    padding: 20px;
}

#cajitas2 .contenedor {
    margin-top: 20px;
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#cajitas2 article {
    margin: 5px;
}

#cajitas2 img {
    margin: 10px 30px;
    justify-content: center;
    width: 100%;
    max-width: 200px;
}




@media(min-width:1024px){
    #cajitas .contenedor {
        background-color: red;
        width: 45%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        float: left;
        border-radius: 15px;
    }

    #cajitas h2{
        text-align: center;
        width: 200px;
        color: white;
        font-size: 15px;
    }

    #cajitas article {
        margin: 5px;
    }

    #cajitas img {
        margin: 10px 20px;
        justify-content: center;
        width: 100%;
        max-width: 150px;
    }

    #cajitas2 .contenedor {
        width: 45%;
    }

    #cajitas2 .contenedor {
        background-color: red;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 15px;
    }
    
    #cajitas2 img {
        margin: 10px 20px;
        justify-content: center;
        width: 100%;
        max-width: 200px;
    }
}